.activeRoute {
  font-weight: bold;
  text-decoration: underline;
}

.footer{
  height: 50px;
  width: 100%;
  background-color: #e86a6a;
  display: block;
  position: relative;
  bottom: 0;


}
